<!-- <router-outlet></router-outlet> -->

<!-- <div class="container">

  <app-add-user></app-add-user>
  <div class="user-div" *ngFor="let user of pusers">
    <div class="user-name">{{user.name}}</div>
    <div class="user-status">{{user.status}}</div>
  </div>

  <app-child>
    <p #paragraph>This is a paragraph</p>
  </app-child>
</div> -->

<div class="container">
  <h1>Custom Directives</h1>

  <!-- set Background color -->
  <p setBg appHover>This is a demo to understand custom attribute directive in Angular</p>

  <p appHighlight appHover>This is a demo to understand @hostlistner in Angular</p>

  <p appBetterhighlight [defaultColor]="'skyblue'" [appBetterhighlight]="'yellow'">
    This is a demo to understand @hostbinding in Angular
  </p>

  <p [appClass]="{highlightC:false,'change-font':true}">This is a demo to understand custom ngClass (eg:appClass) in
    Angular</p>


  <p [appStyle]="{backgroundColor: active ?'darkblue':'darkred',color:'white'}">This is a demo to understand custom ngStyle in
    Angular</p>

</div>